In [10]:
class Admin:

    admin = [{'Username':'admin', 'Password':'Password'}]
    #Admins can do their operations only if this session is true
    SESSION = False

    @classmethod
    def admin_login(cls, username, password):
        username = input('Enter your username : ')
        password = input('Enter your password : ')
        for i in range(len(cls.admin)):
            if cls.admin[i]['Username']==username:
                if cls.admin[i]['Password']==password:
                    cls.SESSION = True
                else:
                    print('You have entered wrong password!')
            else:
                print('You have entered wrong username!')
a = Admin()
a.admin_login('hjjhjh', 'Password')

Enter your username : sd
Enter your password : sds
You have entered wrong username!

In [11]:
import re

In [20]:
a = 'jerin@gmail.com'
reg = '^[A-Za-z0-9.+=]+@[a-z]+\.com'
print(re.search(reg, a))

<re.Match object; span=(0, 15), match='jerin@gmail.com'>

In [22]:
a ='9633001757'
reg = '[0-9]{10}'
print(re.search(reg, a))

<re.Match object; span=(0, 10), match='9633001757'>

In [24]:
round(10.0920390293, 2)

10.09

In [37]:
import sqlite3 as sq

In [195]:
conn = sq.connect('gym_database.db')

conn.execute('''
        CREATE TABLE IF NOT EXISTS USERS(
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            email TEXT NOT NULL,
            gender TEXT NOT NULL,
            contact INT NOT NULL,
            height INT NOT NULL,
            weight INT NOT NULL,
            age INT NOT NULL,
            bmi INT NOT NULL,
            membership INTEGER NOT NULL,
            UNIQUE(contact)
        );
        ''')

conn.close()

In [61]:
import sqlite3

conn = sqlite3.connect('gym_database.db')
print("Opened database successfully")

cursor = conn.execute("SELECT id, name from USERS")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])

print("Operation done successfully")
conn.close()

Opened database successfully
Operation done successfully

In [139]:
conn = sq.connect('gym_database.db')

cursor = conn.cursor()
query = conn.execute("SELECT id, name from USERS")
for row in query:
    cursor.execute("select name from USERS where contact=9999999999")
    data = cursor.fetchall()
    if len(data)==0:
        print('no')
    else:
        sql = "delete from USERS where contact=9999999999"
        conn.execute(sql)
        conn.commit()

conn.close()

no

In [107]:
from prettytable import PrettyTable

In [140]:
x = PrettyTable()
x.field_names = ['Name', 'Email', 'Gender', 'Contact', 'Height', 'Wight', 'Age', 'BMI', 'Membership']
a = ['Jerin', 'jerin@gmail.com', 'male', '9999999999', '180', '78', '21', '24.1', '1']
# for i in range(len(a)):
#     print(i)
#     x.add_row(a[i])
x.add_row(a)
print(x)

+-------+-----------------+--------+------------+--------+-------+-----+------+------------+
|  Name |      Email      | Gender |  Contact   | Height | Wight | Age | BMI  | Membership |
+-------+-----------------+--------+------------+--------+-------+-----+------+------------+
| Jerin | jerin@gmail.com |  male  | 9999999999 |  180   |   78  |  21 | 24.1 |     1      |
+-------+-----------------+--------+------------+--------+-------+-----+------+------------+

In [194]:
conn = sq.connect('gym_database.db')

conn.execute('''
CREATE TABLE IF NOT EXISTS REGIMEN(
id INTEGER PRIMARY KEY AUTOINCREMENT, 
sun TEXT NOT NULL, 
mon TEXT NOT NULL,
tue TEXT NOT NULL,
wed TEXT NOT NULL,
thu TEXT NOT NULL,
fri TEXT NOT NULL,
sat TEXT NOT NULL,
bmi_start INTEGER NOT NULL,
bmi_end INTEGER NOT NULL,
UNIQUE(bmi_start, bmi_end))''')

conn.close()

In [158]:
weekdays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
for i in range(len(weekdays)):
    day = input('Enter for {} : '.format(weekdays[i]))

Enter for Sun : sdjksj
Enter for Mon : sd'sd
Enter for Tue : sdsds
Enter for Wed : dsdsds
Enter for Thu : ds
Enter for Fri : d
Enter for Sat : s

In [168]:
print("{}".format('hello'))

hello

In [172]:
conn = sq.connect('gym_database.db')

sql = 'select * from REGIMEN'
result = conn.execute(sql)
l1 = []
for i in result:
    l2 = []
    for j in range(0, 9):
        l2.append(i[j])
    l1.append(l2)
print(l1)
conn.close()

[[1, 'hg', 's', 'd', 'g', 'h', 'd', 's', 12], [2, '2', '3', '45', '6', '4', '3', '3', 1]]

In [193]:
conn = sq.connect('gym_database.db')
cursor = conn.cursor()
query = conn.execute("SELECT * from USERS")
for row in query:
    cursor.execute("select contact from USERS where contact=?", (contact,))
    data = cursor.fetchall()
    if len(data)!=0:
        bmi = row[8]
        print(bmi)
        regimen_query = conn.execute("SELECT * from REGIMEN")
        for regimen_row in regimen_query:
            cursor.execute("select * from REGIMEN where bmi_end<?", (bmi,))
            data = cursor.fetchall()
            regimen_list = []
            for i in range(1,9):
                regimen_list.append(regimen_row[i])
            print(regimen_list)
            break
conn.close()

21.3
['2', '3', '45', '6', '4', '3', '3', 1]

In [ ]:
insert into regimen values(None, 'sun', 'mon','tue','wed','thu','fri','sat',13. 24)

In [202]:
conn = sq.connect('gym_database.db')
cursor = conn.cursor()
query = conn.execute("SELECT * from USERS where contact=?", (contact,))
for row in query:
    cursor.execute("select contact from USERS where contact=?", (contact,))
    data = cursor.fetchone()
    if len(data)!=0:
        user_list = []
        for i in range(1,10):
            user_list.append(row[i])
        print(user_list)

else:
    print('User doesnt exist!')
conn.close()

['Jern', 'jerin@gmail.com', 'male', 9999999999, 180, 69, 21, 21.3, 3]
User doesnt exist!